body {
  background-color: darkcyan;
  font-family: 'Courier New';
  color: #fff;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 300px;
  height: 150px;
  border: 3px solid rgb(0, 95, 95);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.counter {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.showResult {
  font-size: 100px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 10px;
}

.button {
  width: 100px;
  height: 30px;
  background-color: darkcyan;
  border: 3px solid rgb(0, 95, 95);
  color: #fff;
  border-radius: 10px;
  outline: none;
  font-weight: 900;
}